body{
    text-align: center;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    font-size: 0.5em;
    border-radius: 25px;
    border-style: dotted;
    border-width: 5px;
    padding: 5px 10px;
    background-color:rgb(255,255,255);
    outline:none;
}
button:hover{
background-color: rgb(235, 235, 235);
border-color: black;
}
